:root {
    --header-and-btns-font-size: 4vw;
    --myfont: 'Permanent Marker', cursive;
    --grid-box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.123);
    --tilt: rotate(-10deg);
    --opacity: 0.473;
    --header-color: rgba(255, 0, 149, 0.493);
    --header-color-hover: rgb(255, 0, 149);
    --box-border: var(--box-border-color) solid 0.4vw;
    --box-border-color: rgba(0, 255, 13, 0.507);
    --player-color: rgba(0, 174, 255, 0.486);
    --player-color-hover: rgb(0, 174, 255);
    --play-color: rgba(195, 0, 255, 0.486);
    --play-color-hover: rgb(195, 0, 255);
    --footer-color: rgba(0, 0, 0, 0.26);
    --footer-color-hover: rgb(97, 97, 97);
    /* --footer-color: rgba(238, 255, 0, 0.404);
    --footer-color-hover: rgb(238, 255, 0); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--myfont);
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

#header {
    padding: 2%;
    top: 6%;
    left: 7%;
    position: absolute;
    transform: var(--tilt);
    align-self: flex-start;
}

#header h1 {
    font-size: var(--header-and-btns-font-size);
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    color: var(--header-color);
}

#header h1:hover {
    color: var(--header-color-hover);
}

#status {
    color: var(--play-color);
    font-size: 3vw;
}

#box-1,
#box-5,
#box-9 {
    color: var(--header-color);
}

#play-section {
    position: absolute;
    transform: var(--tilt);
    font-size: var(--header-and-btns-font-size);
    border: none;
    font-family: var(--myfont);
    background-color: transparent;
    color: var(--play-color);
    margin: 4vw;
    right: 1vw;
    bottom: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn-activated {
    color: var(--play-color-hover);
    cursor: pointer;
}

.arrow {
    font-size: 4vw;
    cursor: pointer;
    color: var(--header-color);
    height: fit-content;
}

.arrow:hover {
    color: var(--header-color-hover);
}

#player1-alert,
#player2-alert {
    color: var(--header-color);
    font-size: 0.5vw;
}

#play-type-selection {
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
}

#PVP-section,
#AI-section {
    display: flex;
    padding: 1vw;
    width: 13.5vw;
    height: 17vw;
    justify-content: center;
}

.players {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--player-color);
}

input {
    width: 10vw;
    background-color: transparent;
    border: var(--box-border);
    color: var(--footer-color);
    padding: 0.3vw;
    font-family: var(--myfont);
}

input:focus {
    outline: none;
}

.selected {
    font-size: 3vw;
    text-align: center;
}

.collapse {
    visibility: collapse;
}

.hide {
    visibility: hidden;
}

#grid-container {
    transform: var(--tilt);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 30vw;
    width: 30vw;
}

.grid-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: var(--player-color);
}

.grid-boxes:hover {
    color: var(--player-color-hover);
}

#box-0 {
    border-right: var(--box-border);
    border-bottom: var(--box-border);
}

#box-1 {
    border-left: var(--box-border);
    border-right: var(--box-border);
    border-bottom: var(--box-border);
}

#box-2 {
    border-left: var(--box-border);
    border-bottom: var(--box-border);
}

#box-3 {
    border-top: var(--box-border);
    border-right: var(--box-border);
    border-bottom: var(--box-border);
}

#box-4 {
    border: var(--box-border);
}

#box-5 {
    border-left: var(--box-border);
    border-top: var(--box-border);
    border-bottom: var(--box-border);
}

#box-6 {
    border-top: var(--box-border);
    border-right: var(--box-border);
}

#box-7 {
    border-left: var(--box-border);
    border-top: var(--box-border);
    border-right: var(--box-border);
}

#box-8 {
    border-left: var(--box-border);
    border-top: var(--box-border);
}

#footer {
    color: var(--footer-color);
    font-size: 1.5vw;
    align-self: flex-start;
    bottom: 2vw;
    position: absolute;
    margin-left: 6%;
}

#footer a {
    color: var(--footer-color);
    text-decoration: none;
}

#footer a:visited {
    color: var(--footer-color);
}

#footer a:active {
    color: var(--footer-color);
}

#footer a:hover {
    color: var(--footer-color-hover);
}